/*multiple pages*/
'
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px;} /*CSS Reset gets rid of all default settings allows for more manipulation*/
body { font-family: Times, Arial, sans-serif;
	
}
#header {
	position: relative;
	width: auto;
	height: 120px;
	margin-left: -5px;
	background-color: #991a1a;
	padding: 0;
}
#navbar {
	width: auto;
	margin-left: -10px;
	background-color: #fff;
	border: 0;
	font-family: Palatino, Bakserville, Century Gothic;
}
#navbar {border-top: 5px solid #45051E;}
#navbar ul {
	position: relative;
	width: auto;
	height: 90px;
	background-color: #c6c4c4;
	border-radius: 8px;
	margin-left: -5px;
	margin-bottom: 10px;
	list-style: none;
	margin: 0;
	line-height: 1;
	zoom: 1;
}
#navbar li {
display: inline;
padding: 20px;
}

#navbar ul a {
padding: 15px 25px;
color: #000;
margin: 0 5px 0 0;
text-decoration: none;
displa: block;
text-transform: uppercase;
transition: .3s;
}
#navbar a:hover {
background-color: #45051E;
color: #fff;
padding-top: 12px;
padding-bottom: 3px;
}


#content {
	position: relative;
	width: auto;
	height: 200px;
	background-color: #fcfcfc;
	margin-bottom: 10px;
	margin-left: -5px;
	padding: 0;
}
#sidebar {
	float: right;
}
#footer {
	position: relative;
	width: auto;
	height: 120px;
	background-color: #5d0048;
	margin-bottom: 10px;
	clear: both;
	margin-left: -5px;
	padding: 0;
}
